/* Color variables */
/* Font color */
/* Background-color */
/* Color buttons */
/* Fond colors */
/* Color bands */
/* Color bands skills */
/* Size bands */
.horizontal-line {
  position: absolute;
  top: 2rem;
  width: 100%;
  height: 1rem;
  background: #f28705;
  border-radius: 4px;
}

.section-name {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  color: #fff5a8;
  -webkit-text-stroke: 3px #f28705;
}
