/* Color variables */
/* Font color */
/* Background-color */
/* Color buttons */
/* Fond colors */
/* Color bands */
/* Color bands skills */
.btn-lang-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-lang {
  border: none;
  background-color: #fff5a8;
  margin: 0 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #f28705;
  border-radius: 5px;
}

.btn-lang:hover {
  color: #ffffff;
  background-color: #41403E;
}

.active-language {
  color: #ffffff;
  background-color: #41403E;
}
