/* Color variables */
/* Font color */
/* Background-color */
/* Color buttons */
/* Fond colors */
/* Color bands */
/* Color bands skills */
.skill-logo {
  -webkit-filter: drop-shadow(-10px 10px 0 #f2e529);
          filter: drop-shadow(-10px 10px 0 #f2e529);
  margin-bottom: 1.5rem;
}
