/* Color variables */
/* Font color */
/* Background-color */
/* Color buttons */
/* Fond colors */
/* Color bands */
/* Color bands skills */
/* Size bands */
/* Menu Buttons */
.btn-main-menu {
  background-color: #fff5a8;
  border: none;
}

.btn-main-menu {
  color: #f28705;
  font-size: 1.7rem;
  padding: 0.8rem 0 0.8rem 2.5rem;
  text-align: left;
  border-radius: 5px;
  margin: 0.5rem;
}

.btn-main-menu:hover {
  color: #ffffff;
  background-color: #41403E;
}

.btn-is-selected {
  color: #ffffff;
  background-color: #41403E;
}
