/* Color variables */
/* Font color */
/* Background-color */
/* Color buttons */
/* Fond colors */
/* Color bands */
/* Color bands skills */
#profile-page {
  background-color: #41403E;
  padding: 1rem 3rem;
}

#profile-page h2 {
  color: #f2e529;
  font-size: 2.5rem;
}

#profile-page p {
  color: #ffffff;
}
