/* Color variables */
/* Font color */
/* Background-color */
/* Color buttons */
/* Fond colors */
/* Color bands */
/* Color bands skills */
.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 10vh;
  right: 25vh;
  width: 80%;
  height: 85vh;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 5rem;
}

.section-article {
  background-color: #fff5a8;
  height: 90%;
}
