/* Color variables */
$main-color: #f2e529;
$secondary-color: #fff5a8;
$third-color: #f28705;

/* Font color */
$font-light: #ffffff;

/* Background-color */
$bg-dark: #41403E;

/* Color buttons */
$btn-text-color-hover: #ffffff;
$btn-bg-color-hover: #41403E;

/* Fond colors */
$main-font-color: #f28705;

/* Color bands */
$band-color-1: #f28705;
$band-color-2: #d90754;
$band-color-3: #92fcef;
$band-color-4: #a07695;
$band-color-5: #77c641;
$band-color-6: #cec6ba;
$band-color-7: #bfbc6e;
$band-color-8: #7663f2;

/* Color bands skills */
$band-color-9: #82110C;
$band-color-10: #8789E1;
$band-color-11: #A09994;
$band-color-12: #BD7925;
