@import 'config';
@import 'utilities';

/* Menu Buttons */
%btn-shared {
    background-color: $secondary-color;
    border: none;
}

.btn {
    &-main-menu {
        @extend %btn-shared;
        color: $main-font-color;
        //padding: 1rem 2rem;
        font-size: 1.7rem;
        width: 20rem;
        padding: 0.8rem 0 0.8rem 2.5rem;
        text-align: left;
        border-radius: 5px;
        margin: 0.5rem;

        &:hover {
            color: $btn-text-color-hover;
            background-color: $btn-bg-color-hover;
        }
    }
}

