@import 'config';

#profile-page {
    background-color: $bg-dark;
    //height: 100%; // useless ?
    padding: 1rem 3rem;
    //overflow: scroll;

    h1 {
        color: $main-color;
        font-size: 2.5rem;
    }

    p {
        color: $font-light;
    }
}