.section-container {
    display: flex;
    flex-direction: column;
    top: 10vh;
    right: 25vh;    
    width: 80%;
    height: 85vh;
    border: red 2px solid;
}

.section-title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 10%;
    border:rebeccapurple 2px solid;
}

.section-article {
    height: 100%;
    border: 3px white dashed;
    overflow: auto;
}